 .image-city{
    max-width: 70%;
}

div .showData{
    display: flex;
    justify-content: center;
    height: auto;
}

 .data{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
    height: 70%;
    margin-right: 40px;
    flex-direction: column;
    background-color:  rgba(9,9,121,0.2);
    border-radius: 15px;
    padding: 5px;
}

.title-city{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    color: black;
    font-size: 3rem;
    font-weight: 700;
}

.title-temp{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.title-date{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    color: black;
    font-size: 2rem;
    font-weight: 700;
}

.title-icon{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-self: center;
    color: black;
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 700;
}

.temps-container{
    margin-right: 70px;
    background-color:  rgba(9,9,121,0.2);
    border-radius: 15px;
    padding: 5px;
}

.temps{
    color: black;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.fore-date{
    margin: 5px;
    font-size: 2rem;
    font-weight: 700;
}

.no-info{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.wait{
    height: 60vh;
    display: flex;
    justify-self: center;
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.paraph{
    font-weight: 700;
    display: flex;
    align-self: center;
    justify-self: center;
}

.forest-container{
    background-color:  rgba(9,9,121,0.2);
    border-radius: 15px;
    padding: 5px;
}

@media (max-width:1280px) {
    .image-city{
       max-width: 20vh;
    }

    .wait{
        height: 40vh;
        display: flex;
        justify-self: center;
    }

    .no-info{
        font-size: 1.8rem;
        padding: 10px;
    }

    .showData{
        display: flex;
        justify-self: center;
        height: 45%;
        width: 50vh;
    }

    .fore-date{
        font-size: 1rem;
        color: black;
    }
    p .fore-date{
        margin: 0px;
    }
    .temps{
        font-size: 1rem;
        color: black;
        margin-left: 10px;
    }

    .title-city{
        font-size: 1rem;
    }

    .title-temp{
        font-size: 1rem;
    }

    .title-date{
        font-size: 1rem;
    }

    .title-icon{
        padding-left: 0px;
        font-size: 1rem;
        margin: 0px;
    }

    .paraph{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .data{
        height: 40%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .temps-container{
        margin-right: 0px;
        margin-bottom: 10px;
    }
}

@media (max-width:500px) {
    .image-city{
       max-width: 20vh;
    }

    .wait{
        height: 40vh;
        display: flex;
        justify-self: center;
    }

    .no-info{
        font-size: 1.8rem;
        padding: 10px;
    }

    .showData{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        height: 45%;
        width: 50vh;
    }

    .fore-date{
        font-size: 1rem;
        color: black;
    }
    p .fore-date{
        margin: 0px;
    }
    .temps{
        font-size: 1rem;
        color: black;
        margin-left: 10px;
    }

    .title-city{
        font-size: 1rem;
        margin: 10px;
    }

    .title-temp{
        font-size: 1rem;
        margin: 10px;
    }

    .title-date{
        font-size: 1rem;
    }

    .title-icon{
        padding-left: 0px;
        font-size: 1rem;
    }

    .paraph{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    div .data{
        height: 40%;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}