 .image{
    max-width: 60%;
}

.showData{
    display: flex;
    justify-content: center;
    align-items: center;
}

div .data{

    justify-content: center;
    align-items: center;
    height: 60%;
}

.title-city{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 3vh;
}

.title-temp{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 260px;
}

.title-date{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 50px;
}

.title-icon{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 360px;
}

.temps{
    color: black;
    font-size: 1.2rem;

}

.fore-date{
    margin: 5px;
    font-size: 1.4rem;
}

.no-info{
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.wait{
    height: 60vh;
    display: flex;
    justify-self: center;
}