 .image{
    max-width: 60%;
}

.showData{
    display: flex;
    justify-content: center;
    align-items: center;

}

div .data{
    background-color: rgb(58, 56, 56);
}

.title-city{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 20px;
    font-size: 3vh;
}

.title-temp{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 260px;
}

.title-date{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 50px;
}

.title-icon{
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    padding-left: 20px;
    margin-top: 360px;
}

.temps{
    color: white;
    font-size: 1.2rem;

}

.fore-date{
    margin: 5px;
}