.button{
    height: 3em;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
}

.input{
    width: 60vh;
    height: 2.5em;
    border-radius: 10px;
    text-align: center;
}


.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}