.form{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.input{
    width: 60vh;
    height: 2.5em;
    border-radius: 10px;
    text-align: center;
}

.button{
    height: 3em;
    border-radius: 10px;
}